mysql_data/
docker_env/mysql_data/

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
ENV/
bin/
lib/
include/

.DS_Store
.AppleDouble
.LSOverride

.env
auth_info.txt

.vscode/

.idea/

*.sql.bak
*.nb3